@model ApplicationUser
@{
    ViewData["Title"] = "Update";
}

<div>
    <h2>Update User</h2>

</div>
<form class="form-control-static form-inline" asp-action="Update" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <br />
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="PasswordHash">Password</label>
        <br />
        <input asp-for="PasswordHash" name="Password" class="form-control" placeholder="Password" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <br />
        <input asp-for="Email" class="form-control" placeholder="Email" />
    </div>
    <br />
    <br />


    <input type="submit" value="Update" class="btn btn-primary" />

    <a asp-action="Index" class="btn btn-danger">Cancel</a>

</form>

