@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2>Login</h2>
</div>

<form class="form-control-static form-inline text-center" asp-action="Login" method="post">

    <input type="hidden" value="@ViewBag.returnUrl" name="returnUrl" />
    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="Email" />
    </div>
    <br />
    <br />
    <div class="form-group">
        <input asp-for="Password" class="form-control" placeholder="Password" />
    </div>
    <br />
    <br />
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>
    <br />
    <br />
    <button type="submit">Login</button>

</form>

