@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Boğaziçi Üniversitesi 34342<br />
    Bebek/İstanbul Türkiye<br />
    <abbr title="Phone">P:</abbr>
    +90 212 359 54 00
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
