@model ClubCreateModel
@{
    ViewData["Title"] = "Create";
}

<div>
    <h2>Create Club</h2>

</div>
<form class="form-control-static form-inline" asp-action="Create" asp-controller="Club" method="post" class="form-horizontal">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="ClubUserName">ClubUserName</label>
        <br />
        <input asp-for="ClubUserName" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ClubName"></label>
        <br />
        <input asp-for="ClubName" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ClubDescription"></label>
        <br />
        <input asp-for="ClubDescription" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ClubMail"></label>
        <br />
        <input asp-for="ClubMail" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ClubWebSite"></label>
        <br />
        <input asp-for="ClubWebSite" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ClubAdvisorUserName"></label>
        <br />
        <input asp-for="ClubAdvisorUserName" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ClubLogo"></label>
        <br />
        <input asp-for="ClubLogo" class="form-control" />
    </div>
    <br />
    <br />
    <input type="submit" value="Create" class="btn btn-default" />
    <a asp-action="Clubs" asp-controller="Admin" class="btn btn-danger">Cancel</a>
    <br />
    <br /> <br />
    <br /> <br />
    <br /> <br />
    <br /> <br />
    <br /> <br />
    <br /> <br />
    <br /> <br />
    <br />


</form>

